* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 10px;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav li::marker {
  content: none;
}

.nav-logo {
  font-size: xx-large;
}

.site-header {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.btn-cta {
    background-color: #ffc800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.btn-cta:hover{
    background-color: #cca000;
}