* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 10px;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav li::marker {
  content: none;
}

.nav-logo {
  font-size: xx-large;
}

.site-header {
  height: 100vh;
  /* background-color: antiquewhite; */
  display: flex;
  /* background-color: rgba(255, 255, 255, 0.396); */
  flex-direction: column;
  position: relative;
}

.site-header h1,
.site-header h3 {
  color: white;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.btn-cta {
  background-color: #ffc800;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.btn-cta:hover {
  background-color: #cca000;
}

.services {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.service-title {
  text-align: center;
}

.service-container {
  display: flex;
  justify-content: space-around; /*center*/
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.service-icon {
  background-color: #ffc800;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
}

.timeline-icon img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.service-description {
  font-size: 12px;
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 30px 15px;
}

.timeline {
  position: relative;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-line-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-line {
  height: 100%;
  background-color: #cca000;
  width: 2px;
}

.timeline-icon {
  background-color: #cca000;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 5px;
}

.timeline-item {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.timeline-item-placeholder,
.timeline-item-content {
  flex-grow: 1;
  flex-basis: 150px;
}

.timeline-item-content > p {
  font-size: 9px;
}

.reverse {
  flex-direction: row-reverse;
}

.content-reverse {
  text-align: right;
}

.team {
  padding: 50px 0;
}

.team-member-list {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.member-image-container {
  background-color: lightgray;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-social-links {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 350px) {
  .timeline-item-placeholder {
    display: none;
  }

  .reverse {
    flex-direction: row;
  }

  .content-reverse {
    text-align: left;
  }

  .timeline-line-container {
    justify-content: start;
    padding-left: 35px;
  }

  .last-item {
    justify-content: start;
  }
}
